.teclas{
    border: 1px solid gray;
    padding: 10px 10px;
    width: 80px;
}
button{
    border-radius: 12px;
}
.tela{
    border: 1px solid gray;
    padding: 10px 10px;
    width: 60px;
}
.telaPrincipal{
    border: 1px solid gray;
    padding: 9px 9px;
    width: 82px;
}
.celular{
    border: 1px solid red;
    padding: 9px 9px;
    width: 100px;
    border-radius: 10px;
    background-color: blue;
}